extends ./layout.jade

block extrameta
    meta(name='description', content='Full Stack Web Development course made available online for free')

block briefintro
    h2 Donations
    p.lead This course is entirely free for you to learn from, if you'd like to donate feel free!

block level
    div.level
        span.level-difficulty FREE        

block content
    div.donate-div
        h3 PayPal Donations
        p PayPal donations are not supported. It's cute you think we'd want money! No, instead donate by adding more lessons to our system!
        br
        a(href='https://github.com/michaelgv/fullstackwebdev') Github
        br