extends ./layout.jade

block extrameta
    meta(name='description', content='Full Stack Web Development course made available online for free')

block briefintro
    h2 Full Stack Web Development
    p.lead Learning programming is difficult enough, and learning full stack development can be considered an even harder challenge.

block level
    div.level
        span.level-difficulty FREE        

block content
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil ipsa doloremque, accusantium quisquam totam delectus quas modi itaque! Ullam aliquid minus et eius sit officiis voluptatum blanditiis pariatur, eos soluta.