extends ./layout.jade

block extrameta
    meta(name='description', content='Full Stack Web Development course made available online for free')

block briefintro
    h2 Full Stack Web Development
    p.lead Learning programming is difficult enough, and learning full stack development can be considered an even harder challenge.

block level
    div.level
        span.level-difficulty FREE        

block content
    div.content-space
        p This tutorial is always changing and growing, and will continously be updated to the latest best practices in web development and system administration.
        h3 What will I learn?
        p You'll learn modern full-stack web development without feeling lost or confused. One greatest issue with learning is when you completely don't understand the material, even if it's simply put. You will notice a lot of "spotlight" examples, these are taking the code into plain English context mode, they look like the block below.
        blockquote
            h4.title Here's what we mean, in plain ole English
            :markdown
                You can find some awesome *content* in here that'll help you understand what we're rambling about in these guides/tutorials.
        a(href='/intro.html', class='button-go') Get Started